__pycache__/
checkpoints
checkpoints/
deps
deps/
experiments
experiments/
experiments_1
experiments_1/
results
results/
visualize
visualize/
vis_recon
vis_recon/
figures
figures/
wandb
wandb/
.github
.github/
.vscode
.vscode/
slurm
slurm/

*.csv
*.zip
core
.codex
.agents
.agents/
miscell.py